= form_for(@fiddle, url: play_path, format: 'js', :remote => true, :method => :post, :html=>{:id=>"fiddle_form"}) do |f|
  %div{:style => "display:none"}
    %input{:hidden => "", :name => "fiddle_id", :type => "", :value => "#{@param_id}"}/
    = f.text_field :code_type
    %input{:hidden => "", :name => "code_type", :type => "", :value => "#{@fiddle.code_type}"}/
    %input{:hidden => "", :name => "fiddle_version", :type => "", :value => "#{@param_version}"}/
  .code-mirror-div
    = f.text_area :code, input_html: {id: "fiddle_code"}